.center {
    text-align: center;
    img {
        border:10px solid rgba(255,255,255, 0.5);
        width:300px;
        height:300px;
        border-radius: 100%;
        overflow: hidden;
        margin: auto;
        object-fit: cover;
    }
}
.bottom {
    background-color: #fff;
    color: brown;
    a.MuiButton-containedPrimary {
        margin: 0 auto 5rem;
    }
}
