.header {
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.body {
    justify-content: center;
    
}
.block {
    justify-content: center;
    display: flex;
    margin: auto;
    max-width: 1200px;
    &.full {
        max-width: none;
    }
}
ul, li {
    padding: 0;
    display: flex;
    margin:0;
}
li {
    display: flex;
    flex: 1;
}

body {
    background-color: #140d0b;
    color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}
.footerButtons {
    justify-content: flex-end;
    display: flex;
}
.hor {
    flex-direction: row;
}
.ver {
    flex-direction: column;
}
.center {
    justify-content: center;
    text-align: center;
}
.middle {
    align-items: center;
}
.space {
    row-gap: 20px;
}