.search {
    background-color: grey;
}

.orders {
    
    column-gap: 20px;
    display: flex;
    flex-direction: column;
    .order-item {
        padding: 20px;
        column-gap: 20px;
        align-items: center;
    }
}